* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    background-color: #fafafa;
    color: #121212;
}

h1, h2 {
    color: #fafafa;
}

a {
    color: #fafafa;
}

.main {
    height: 100vh;
    display: grid;
    place-content: center;
    background-color: #121212;
}

.centered {
    display: grid;
    place-content: center;
    margin: 1.25rem;
}

span {
    color: #fafafa;
    font-size: 1.5em;
    font-weight: 600;
}

input {
    padding: 16px 32px;
    border: 1px solid;
    border-radius: 5em;
    background-color: #fafafa;
    margin: 1rem;
}

input:focus {
    border: 1px solid salmon;
    font-weight: 400;
}

select {
    padding: 16px 32px;
    border: 1px solid;
    border-radius: 5em;
    background-color: #fafafa;
    margin: 1rem;
}

.calculateBtn {
    background-color: #02c39a;
    border: none;
    padding: 16px 32px;
    color: #fafafa;
    border-radius: 5em;
    cursor: pointer;
}

.result {
    color: #fafafa;
}

